h1 {
  text-align: center;
  height: 40px;
  color: darkslategray;
  background-color: bisque;
}

button {
  border-radius: 10%;
  font-size: larger;
  background-color:aquamarine;
}

.buttons {
  text-align: center;
}

.display {
  text-align: center;
}